-- Chatbot cache and knowledge base tables

-- Knowledge base for predefined responses
CREATE TABLE public.chatbot_knowledge (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  category TEXT NOT NULL, -- e.g., 'metrics', 'features', 'general'
  keywords TEXT[] NOT NULL, -- array of keywords to match
  question TEXT NOT NULL,
  answer TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Cache for API responses
CREATE TABLE public.chatbot_cache (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  query_hash TEXT NOT NULL UNIQUE, -- hash of the query
  query TEXT NOT NULL,
  response TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  last_used TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Insert some predefined knowledge

-- Enable RLS
ALTER TABLE public.chatbot_knowledge ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.chatbot_cache ENABLE ROW LEVEL SECURITY;

-- Policies (public read for knowledge, authenticated for cache)
CREATE POLICY "Anyone can read knowledge base" ON public.chatbot_knowledge FOR SELECT USING (true);
CREATE POLICY "Authenticated users can manage cache" ON public.chatbot_cache FOR ALL TO authenticated USING (true) WITH CHECK (true);
